.a-button {
    width: 132px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: none;
    font-size: 1em;
    cursor: pointer;
}

.a-button--primary {
    background: #1071FF;
    color: #fff;
}

.a-button--secondary {
    border: 2px solid #1071FF;
    color: #1071FF;
}

.a-button--text {
    color: #1071FF;
}
