.m-option {
    width: 100%;
    padding: 10px 16px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.m-option:hover {
    background: var(--color-bg-gray);
}

.m-option--active {
    color: var(--color-blue-main);
    fill: var(--color-blue-main);
}
