.a-checkbox__checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.a-checkbox__checkbox:hover:not(
    .a-checkbox__hidden-input:disabled ~ .a-checkbox__checkbox
),
.a-checkbox__checkbox:focus:not(
    .a-checkbox__hidden-input:disabled ~ .a-checkbox__checkbox
),
.a-checkbox__checkbox:active:not(
    .a-checkbox__hidden-input:disabled ~ .a-checkbox__checkbox
) {
    background: var(--color-bg-gray);
}

.a-checkbox__hidden-input:disabled ~ .a-checkbox__checkbox {
    cursor: not-allowed;
}
